<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ink Global Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>  
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body ng-app="igWeather">
    <div id="pageContainer" ng-controller="landingCtrl">
        <h1>{{title}}</h1>
        <select ng-model="city" ng-options="city.name for city in cities | orderBy:'main.temp':tempDesc">
            <option value="">
                Please select a city
            </option>           
        </select>
        <label for="tempDescCheckbox">Sort Cities by Temperature, highest first</label>
        <input id="tempDescCheckbox" type="checkbox" ng-model="tempDesc" ng-init="tempDesc=true"/>
        <div class="details" ng-if="city">
            <p>City: {{city.name}}</p>
            <p>Temperature: {{kelvinToCelsius(city.main.temp)}}</span>°C</p>
            <p>Range: {{kelvinToCelsius(city.main.temp_min)}} °C to {{kelvinToCelsius(city.main.temp_max)}} °C</p>
            <p>Longitude: {{lonlat(city.coord.lon)}} °{{city.coord.lon < 0 ? "W" : "E"}}</p>
            <p>Latitude: {{lonlat(city.coord.lat)}} °{{city.coord.lat < 0 ? "S" : "N"}}</p>
            <img ng-src="{{'http://openweathermap.org/img/w/' + city.weather[0].icon + '.png'}}" alt="Weather icon"/>
            <p>Conditions: {{city.weather[0].description}}</p>
            <p>Atmospheric Pressure: {{city.main.pressure}} hPa</p>
            <p>Humidity: {{city.main.humidity}} %</p>
        </div>
    </div>
    <!-- Third Party -->
    <script src="scripts/angular.js" type="text/javascript"></script>
    <!-- local app -->
    <script src="app/config/build.js" type="text/javascript"></script>
    <script src="app/app.js" type="text/javascript"></script>
    <!-- App modules -->
    <script src="module/landing/landingModule.js" type="text/javascript"></script>
    <script src="module/shared/sharedModule.js" type="text/javascript"></script>
    <!-- Controllers -->
    <script src="module/landing/controller/landingCtrl.js" type="text/javascript"></script>
    <!-- Services -->
    <script src="module/shared/service/weatherService.js" type="text/javascript"></script>
</body>
</html>
 